<%= form_for(@student) do |f| %>

	<% if @student.errors.any? %>
	     <div>
	          <p><%= pluralize(@student.errors.count, "error") %> prevented this record from saving.</p>
	          <ul>
	               <% @student.errors.full_messages.each do |msg| %>
	               <li><%= msg %></li>
	               <% end %>
	          </ul> 
	     </div>
	<% end %>

  	<div class="field">
		<%= f.label :name%>
		<%= f.text_field :name, placeholder: "Student Name", class: "form-control"%>
	</div>	
	<br>

	<div class="field">
		<%= f.label :student_number %>
		<%= f.text_field :student_number, placeholder: "Student number", class: "form-control"%>
	</div>
	<br>

  	<div class="field">
		<%= f.label :faculty%>
		<%= f.text_field :faculty, placeholder: "Faculty Name", class: "form-control"%>
	</div>	
	<br>

	<%= f.submit %>
<%end%>