<div class="container">
	<div class="mx-auto" style="width: 80%; margin-top: 40px; margin-bottom: 40px;">

		<p id="notice"><%= notice %></p>

		<h1>Students</h1>

		<table class="table">
		  <thead>
		    <tr>
		      <th>Student Name</th>
		      <th>Student Number</th>
		      <th>Faculty </th>
		      <th colspan="3"></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @students.each do |student| %>
		      <tr>
		        <td><%= link_to student.name, student %></td>
		        <td><%= student.student_number %></td>
		        <td><%= student.faculty %></td>
<!-- 		        <td><%= link_to 'Show', student %></td>
		        <td><%= link_to 'Edit', edit_student_path(student) %></td>
		        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 -->		      </tr>
		    <% end %>
		  </tbody>
		</table>
		<br>
	</div>
</div>