<div class="container mt-5">
	<div class="mx-auto mt-5" style="width: 80%; margin-top: 40px;">
		<table class="table">
		  <thead>
		    <tr>
		      <th>Student Name</th>
		      <th>Student Number</th>
		      <th>Faculty </th>
		      <th colspan="3"></th>
		    </tr>
		  </thead>

		  <tbody>
		      <tr>
		        <td><%= @student.name%></td>
		        <td><%= @student.student_number %></td>
		        <td><%= @student.faculty %></td>
		      </tr>
		  </tbody>
		</table>
		<p id="pdf_link">
			<%= link_to 'Home', root_path %><br>	
			<%= link_to "Download PDF", student_path(@student, :format => 'pdf'), target: "_blank" %>
		</p>
	</div>
</div>

